@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: norseBold;
    src: url(../fonts/Norse-Bold.otf);
}

body {
    background-color: #f3f5f7;
    font-family: 'Roboto', sans-serif;
}

main > aside {
    background-image: url(../img/travel.jpg);
    background-size: cover;
}

.logo {
    background-color: #00000080;
    color: #fff;
    font-family: norseBold, 'Roboto', sans-serif;
    margin-top: 25%;
}

.logo h1 {
    font-size: 5rem;
}

main > section > div:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 500;
}

.inputs {
    background-color: #fff;
    box-shadow: 0 5px 5px #d6d6d6;
    color: #494949;
}

.inputs h3 {
    font-size: 1.3rem;
}

.inputs label {
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
}

.inputs input:hover {
    box-shadow: 0 1px 6px #20212447;
}

.btn {
    background-color: #5e5c47;
    border: 1px solid #5e5c47;
    color: #f3f5f7;
    font-weight: 700;
}

.btn:hover {
    background-color: #b6b394;
    border: 1px solid #b6b394;
    color: #5e5c47;
}

.btn:focus,
.btn:active {
    background-color: #5e5c47;
    border: 1px solid #5e5c47;
    color: #f3f5f7;
    box-shadow: none;
}

.log-in {
    text-decoration: none;
    color: #5e5c47;
    font-weight: 700;
}

.log-in:hover {
    color: #5e5c47;
}